body {
  background-color: rgb(137, 245, 151);
}
.side-bar {
  border-right: 1px solid black;
  height: fit-content;
  border-radius: 0px 0px 25px 25px;
  background-color: rgb(207, 163, 248);
}

.main-screen > .card {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: 2px solid green;
}

.card:hover {
  box-shadow: 5px 5px 20px 2px;
}
